/* .footer { 
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: #50a2f0;
    margin-top: 20px;
    border: yellowgreen 10px solid;
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
} */
/* .Footer {
    padding:1px 0;
    background-color:#669933;
text-align:center;
clear:both;
    } */
  
   
  
  