 ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.212);
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display:inline-block;
    color: rgb(132, 134, 141);
    text-align: center;
    padding: 12px  10px;
    text-decoration: none;
   
  }
  
  li a:hover:not(.active) {
    background-color: gold;
    color: rgba(85, 32, 8, 0.959);
  }
  
  .active {
    background-color: #ffbb00;
    color: black;
  }
  ul {
   
    width: 100%;
  } 
   
    /* pour derniere ul : 
    position: fixed;
    top: 0; */
    .Header {
      text-align: center;
                       display: block;
  font-family: Arial;
  padding: 1px;
  margin: 0px;
  background: #eeeeee;
  border-style: double ;
  border: 0px;
  border-color: black;
     }  