/* h1 {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: #333;
  }
   .Menu{
    padding:1px 0;
    float:left;
    width:240px;
    background-color:#FF3366;
    float:right;
position:absolute;
right:0;
    }
     */