/* .Main {
    padding:1px 0;
    max-width:960px;
    margin:auto;
    max-width:960px;
    position:relative;
    } */
    /* Content {
        
        background-color:#e61638;
    
        } */

        .Footer, .Header, .Menu, .Content, .Main {
            padding:1px 0;
          display: flex;
                        }
           .Header {
            position: absolute;
            top: 0px;
            left: 0px;
            width:800px;
            height:50px;
            background-color:hotpink;
               }
            
                      
            .Menu {
                position: absolute;
                top: 50px;
                left: 0px;
                width: 200px;
                height: 400px;
                background-color: greenyellow;
            }
                   
          .Content {
            position: absolute;
    top: 50px;
    left: 200px;
    width:600px;
    height:400px;
    background-color:aquamarine;
            }
            .Footer {
                position: absolute;
      left: 0px;
    width:800px;
    height:50px;
    background-color:rgb(132, 13, 211);
    position: fixed;
    ;
             }
   



