/* .Main {
    padding:1px 0;
    max-width:960px;
    margin:auto;
    max-width:960px;
    position:relative;
    } */
    /* Content {
        
        background-color:#e61638;
    
        } */

        .Footer, .Header, .Menu, .Content, .Main {
            padding:1px 0;
            }
            .Main {
                widows: 960px;;
            max-width:960px;
            margin-top: 53px;
            position:relative;
            background-color: blue;

            }
            .Header {
            text-align:center;
            background-color:#FF9900;
            }
            .Footer {
            text-align:center;
            background-color:#669933;
            }
            .Menu {
            width:500px;
            background-color:#FF3366;
            position:absolute;
            margin-top: 0px;
            }
            .Content {
            margin-left:245px;
            background-color:#a3eb30;
            min-height:150px;
            }
            .Menu {
            Left:0;
            }
            .Content {
            margin-right:245px;
            background-color:#db1822;
            }
   



